.entry-div {
    border-radius: 11px;
    border: 2px solid dimgrey;
    width: 70%;
    background-color: #b0e0e6;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}